html {
  font-family:'Roboto', sans-serif;
  font-size: 16px;
}

.hide {
  display: none;
}

#canvas:focus {
  outline: none;
}

.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-flex {
  display: flex;
  justify-content: space-around;
}

/* Overall Structure */
#options-section {
  width: 300px;
  position: absolute;
  right: 30px;
  top: 15px;
  display: flex;
  flex-direction: column;
}

#options-button-container {
  display: flex;
  justify-content: flex-end;
}

#options-button {
  text-align: center;
  background: white;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
}

#options-pane #logo-container {
  font-family: 'Staatliches', cursive;
  text-align: center;
  font-size: 45px;
  padding-top: 5px;
}

#scroll-container {
  display: none;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
}

#options-pane-container {
  max-height: 90vh;
  overflow: auto;
}

#options-pane {
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 15px 15px 30px 15px;
}

#options-pane section,
#advanced-options-section section {
  border-top: 1px solid whitesmoke;
  padding: 15px;
}

#options-pane > :first-child, 
#advanced-options-section > :first-child {
  border-top: none;
}



.randomize-button {
  width: 80%;
  border: 2px solid darkgrey;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 4px;
  text-align: center;
}

.randomize-button:hover, .anidraw-button:hover,
#options-button:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.2);
}

.section-header-span {
  font-size: 14px;
  margin-bottom: 10px;
}

.section-end {
  margin: 10px;
  width: 100%;
}

label {
  vertical-align: middle;
}

.anidraw-button {
  border: 2px solid darkgrey;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 4px;
  text-align: center;
}

input[type="number"] {
  width: 80px;
}

label span {
  margin: 5px;
}

#radii-section label, #ratio-section label {
  margin-top: 15px;
  display: flex;
  justify-items: space-between;
}
